/* FormLabel.module.css */
.formLabel {
    font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 156%;
    /* 20.28px */
    letter-spacing: -0.01em;
    color: var(--primary-text);
}

.required {
    color: #ef4444;
    /* red-500 equivalent */
    margin-left: 0.25rem;
    /* ml-1 equivalent */
}