.container {
    border-radius: 8px;
    background: #fff;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    height: fit-content;
    max-height: 38px;

    border: 1px solid var(--green-200);
    transition: border-color 0.2s, box-shadow 0.2s;
    background: #fff;
}

.container:focus-within {
    box-shadow: 0 0 0 2px var(--outline-color-lighter), 0 0 0px 1000px #fff inset !important;
}

.container :global(.PhoneInputCountryIcon) {
    border-radius: 20%;
    overflow: hidden;
    width: 1.5em;
    height: 1.5em;
}

.container :global(.PhoneInputCountryIcon) img {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
}

.container :global(.PhoneInputCountryIcon--border) {
    box-shadow: none;
}

.container input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    padding: 0;
    width: 100%;

    color: var(--black-300);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.container input::placeholder {
    color: var(--muted-foreground);
}