.container {
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--primary-border);
  transition: 300ms;
  background-color: #fff;
}

/*
 Pair with filepond--drop-label in index.css
*/
.container:hover {
  border: 1px solid var(--primary-border);
}

.container * {
  cursor: pointer;
}


:global(.filepond--credits) {
  display: none;
}

:global(.filepond--root) {
  margin-bottom: 0 !important;
}

:global(.filepond--drop-label) {
  transition: 300ms;
  cursor: pointer;
  background-color: #fff;
}

/* Hover */
:global(.filepond--drop-label:hover) {
  background-color: var(--primary-border);
}

:global(.filepond--drop-label label) {
  padding: 0 !important;
}