.container {
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--primary-border);
  transition: 300ms;
  background-color: #fff;
}

/*
 Pair with filepond--drop-label in index.css
*/
.container:hover {
  border: 1px solid var(--primary-border);
}

.container * {
  cursor: pointer;
}


:global(.filepond--credits) {
  display: none;
}

:global(.filepond--root) {
  margin-bottom: 0 !important;
}

:global(.filepond--drop-label) {
  transition: 300ms;
  cursor: pointer;
  background-color: #fff;
}

/* Hover */
:global(.filepond--drop-label:hover) {
  background-color: var(--primary-border);
}

:global(.filepond--drop-label label) {
  padding: 0 !important;
}

.multiple :global(.filepond--list) {
  display: grid !important;
  grid-template-columns: repeat(4, 140px);
  gap: 8px;
}

.multiple :global(.filepond--item) {
  width: 140px !important;
  height: 140px !important;
}

.multiple :global(.filepond--panel) {
  display: none;
}

.multiple :global(.filepond--panel-center) {}


.multiple :global(.filepond--item-panel) {}

.multiple :global(.filepond--panel-bottom) {}